html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

#container {
    height: 90%;
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #eee;
}

#title{
    text-align: center;
}

.column {
    width: 50%;
    float: left;
}

.centering{
    margin-left: 25%;
}

#googleMaps{
    height: 60%;
    width: 100%;
}