html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}

#container {
    margin: 5% auto 0 auto;
height: 80%;
    width: 60%;
    /*height: 480px;
    width: 640px;*/
    background: url("images/interest-calculators.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}