html{
    height: 100%;
}
body {
    background: url(images/golfBig.jpg) no-repeat left center fixed;
    height: 1200px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
}
.whiteSpace {
    margin-top: 20px;
}
p {
    margin: 0;
    padding: 0;
}

.container {
    width: 1000px;
    margin: 0 auto;
    background-color: #465f46;
    box-shadow: #25261c 0px 0px 15px;
    border-radius: 5px;
}
#header {
    box-shadow: #193819 5px 5px 5px;
    color: whitesmoke;
    width: 100%;
    height: 240px;
    padding: 10px;
    background: url("images/golfSmall1.jpg");
    background-size: cover;
}
#shade{
    background-color: rgba(30,30,30,.4);
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    height: 220px;
}
.start{
   margin-left: 30%;
    /*margin-top: 200px;*/
}
#cityDiv label {
    color: whitesmoke;
    margin-left: 4%;
    font-size: 3em;
}
#city {
    margin-left: 10%;
    width: 200px;
    height: 40px;
}
#card{
    width: 100%;
    color: #ebfae9;
}
#leftCard {
    float: left;
    width: 10%;
}

#rightCard {
    float: right;
    width: 89%;
}

.column{
    text-align: center;
    float: left;
    width: 75px;
    margin-bottom: 10px;
}
.column:hover{
    cursor: pointer;
}

.column input {
    width: 40px;
}



.frontNineTotal {
    text-align: center;
    float: left;

}
.total {
    float: left;
    text-align: center;
}
.players{

}
.playersFor18 {
    height: 212px;
    /*font-size: 1.5em;*/
    /*padding: 5px;*/
    /*text-align: center;*/
    /*margin: 10px 0px;*/
    /*background-color: mediumseagreen;*/
}

.playersFor9{
    height: 96px;
}

.hide {
    display: none;
}

.show {
    display: block !important;
}

#map {
    box-shadow: #193819 5px 5px 5px;
    float: right;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}
#courseInfo {
    float: left;
    width: 50%;
}

#courseAddress {
    margin-top: 60px;
}

#currentConditions{
    float: right;
}

#temp{
    margin-top: 125px;
    font-size: 2.2em;
}
#wind{
    font-size: 1.7em;
    display: inline;
}
#weatherIcon {
   float: right;
}
/*#currentConditions {*/
    /*float: left;*/
    /*width: 50%;*/
/*}*/

#startOver {
   float: left;
margin-bottom: 10px;
}

#mapText {
    position: absolute;
    font-size: 5em;
    z-index: 1;
    top: 290px;
    /*left: 480px;*/
    left: 34%;
    color: rgba(229, 255, 227, 0.9);
}

.mapText2 {
    position: absolute;
    font-size: 5em;
    z-index: 1;
    top: 290px;
    left: 550px !important;
    color: rgba(229, 255, 227, 0.5);
}

.frontNineTotal input {
    width: 50px;
}
.total input {
    width: 50px;
}

input{
    color: black;
}

.changeName{
    background: #36402f;
    width: 65px;
    border-radius: 10px;
    margin-top: 5px;
}


#TotalP1{
    margin-bottom: 30px;
}
#TotalP2{
    margin-bottom: 30px;
}
#TotalP3{
    margin-bottom: 30px;
}
#TotalP4{
    margin-bottom: 30px;
}
#TotalP5{
    margin-bottom: 30px;
}
#TotalP6{
    margin-bottom: 30px;
}
#TotalP7{
    margin-bottom: 30px;
}
#TotalP8{
    margin-bottom: 30px;
}


#player1column10{
    clear: both;
}
#player1column1{
    clear: both;
}
#player2column10{
    clear: both;
}
#player2column1{
    clear: both;
}
#player3column10{
    clear: both;
}
#player3column1{
    clear: both;
}
#player4column10{
    clear: both;
}
#player4column1{
    clear: both;
}
#player5column10{
    clear: both;
}
#player5column1{
    clear: both;
}
#player6column10{
    clear: both;
}
#player6column1{
    clear: both;
}
#player7column10{
    clear: both;
}
#player7column1{
    clear: both;
}
#player8column10{
    clear: both;
}
#player8column1{
    clear: both;
}