<ion-view title="About">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
      <ion-item class="list item-text-wrap" >
        <div class="aboutText">
            <p id="aboutTextTitle">Welcome to <strong>Musiquality!!</strong>
            </p> <br/>
            <p class="aboutTextContent">
                Musiquality allows you to expand your music library! Search for Artist, Albums, Songs, Related Artist, and much, much more. Listen to previews of millions of songs!
            </p>
            <p class="aboutTextContent">
                Save your favorite artists
                to your likes page and discover new artists similar to those you already love and sorted by popularity.
            </p>
            <p class="aboutTextContent">
                Musiquality will enable you to expand your music library and help you to purchase music from quality artists.
            </p><br/>
            <p id="aboutTextCreatedBy">Created by:  <a href="http://48geoffbrown.github.io/Resume/HTML/resume.html" target="_blank">Geoff Brown</a>, Chris Downs, Jonny Fewkes, and Dan Tuttle. </p>
        </div>
          <div class="aboutBG"></div>
      </ion-item>
    </ion-content>
</ion-view>
