<ion-view title="Artist Search" class="backGroundImage">
  <ion-content overflow-scroll="true" padding="true" class="has-header" ng-controller="NameController as nc">
    <form class="list">
      <label class="item item-input">
        <!--<span class="input-label">Input</span>-->
        <input type="text" placeholder="Type Artist Name" ng-model="nc.artist" ng-click="nc.hideAlert()">
      </label>
      <button class="button button-clear" type="submit" ng-click="nc.artistSearch(nc.artist)"></button>
      <div class="noResults" ng-show="nc.results2 === 'noGood'">Sorry. Your search didn't return any results. Please try
        another artist name.
      </div>
      <ul ng-repeat="item in nc.results">
        <li class="item item-thumbnail-left" ui-sref="tabsController.artistHome"
            ng-click="nc.currentArtist(item.name, item.images[0].url)">
          <img class="rcImg" class="cover" ng-src="{{item.images[1].url}}"/>
          <br><br>
          <span class="rcArtistName">{{item.name}}</span><br/>
          {{"Popularity: " + item.popularity}}
          <div class="item-button-right">
            <button class="item-button-right button smallText">Artist Page</button>
          </div>
        </li>
      </ul>


    </form>
  </ion-content>
</ion-view>
