<ion-view title="Home">
  <ion-content overflow-scroll="true" padding="true" class="has-header" ng-init="loggedIn = false">

      <ion-list>
        <!--<ion-item ui-sref="tabsController.popularMusiq">Popular Musiq</ion-item>-->
        <ion-item ui-sref="tabsController.newMusiq">Album Search</ion-item>
        <ion-item ui-sref="tabsController.artistNameSearch">Artist Search</ion-item>
        <ion-item ui-sref="tabsController.songTitleSearch">Track Search</ion-item>
        <ion-item ui-sref="tabsController.musiqGenreSearch">Related Search</ion-item>
      </ion-list>

  </ion-content>
</ion-view>
